{% load static %}
<script src="//code.tidio.co/ewmocfvcluaifuqzjjezguqnbvju3c6g.js" async>
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Bitcointradinginc.com</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="{% static 'app.min05.css' %}" rel="stylesheet" />
    <!----------------- www.bitcoinstart.website ----------->
    <meta name="designer" href="https://www.bitcoinstart.website">

    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="{% static 'jquery-jvectormap.css' %}" rel="stylesheet" />
    <link href="{% static 'nv.d3.css' %}" rel="stylesheet" />
    <link href="{% static 'daterangepicker.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="{% static 'bootstrap-social.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/3233d881f8.js" crossorigin="anonymous"></script>
    <link href="{% static 'switchery.min.css' %}" rel="stylesheet" />

    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    <meta property="og:title" content="Bitcointradinginc.com.">
    <meta property="og:description" content="Advanced Asset Management">
    <meta property="og:image" content="./facebook.jpg">
    <meta property="og:type" content="website" />

</head>

<body>
    <!-- begin page-cover -->
    <div class="page-cover"></div>
    <!-- end page-cover -->
    <!-- begin #page-loader -->
    <!-- <div id="page-loader" class="fade show">
        <span class="spinner"></span>
    </div> -->
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar-default">
            <!-- begin navbar-header -->
            <div class="navbar-header">
                <a href="?a=home" class="navbar-brand"><img src="{% static 'log002.png' %}"> </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end navbar-header -->
            <!-- begin header-nav -->
            <ul class="navbar-nav navbar-right">
                <li class="navbar-form">
                    <form action="" method="POST" name="search_form"><input type="hidden" name="form_id" value="16491758028602"><input type="hidden" name="form_token" value="a01c43908d7002dddefa8c3149cb7b98"><input type="hidden" name="form_id" value="16082437449329"><input type="hidden" name="form_token"
                            value="388714aa74bd9a5b6aad5065ee56187e">
                        <div class="form-group">
                            <div class="badge badge-dark" style="margin-top: 2px; margin-bottom: auto; padding: 10px; font-size: 0.7rem" id="clockbox"></div>

                            <script type="text/javascript">
                                var tmonth = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

                                function GetClock() {
                                    var tzOffset = +0; //set this to the number of hours offset from UTC

                                    var d = new Date();
                                    var dx = d.toGMTString();
                                    dx = dx.substr(0, dx.length - 3);
                                    d.setTime(Date.parse(dx))
                                    d.setHours(d.getHours() + tzOffset);
                                    var nmonth = d.getMonth(),
                                        ndate = d.getDate(),
                                        nyear = d.getFullYear();

                                    var nhour = d.getHours(),
                                        nmin = d.getMinutes(),
                                        nsec = d.getSeconds(),
                                        ap;

                                    if (nhour == 0) {
                                        ap = " AM";
                                        nhour = 12;
                                    } else if (nhour < 12) {
                                        ap = " AM";
                                    } else if (nhour == 12) {
                                        ap = " PM";
                                    } else if (nhour > 12) {
                                        ap = " PM";
                                        nhour -= 12;
                                    }

                                    if (nmin <= 9) nmin = "0" + nmin;
                                    if (nsec <= 9) nsec = "0" + nsec;

                                    var clocktext = "" + tmonth[nmonth] + "-" + ndate + "-" + nyear + ", " + nhour + ":" + nmin + ":" + nsec + ap + "";
                                    document.getElementById('clockbox').innerHTML = clocktext;
                                }

                                GetClock();
                                setInterval(GetClock, 1000);
                            </script>


                        </div>
                    </form>
                </li>
                <li class="dropdown navbar-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="{% static 'myuser.jpg' %}" alt="" /> <span class="d-none d-md-inline">mimi22 </span> <b class="caret"></b> </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit Account</a>
                        <a href="#" class="dropdown-item"><i class="fa fa-shield-alt"></i>&nbsp;&nbsp;2F Authentication</a>
                        <a href="{% url 'main:logout' %}" class="dropdown-item"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a>
                    </div>
                </li>
            </ul>
            <!-- end header navigation right -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->

                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navigation</li>
                    <li>
                        <a href="{% url 'main:profile' %}"> <i class="fa fa-th-large"></i> <span>Dashboard</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:deposit' %}"> <i class="fas fa-donate"></i> <span>Make a Deposit</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:withdraw' %}"> <i class="fas fa-hand-holding-usd"></i> <span>Withdrawal</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:profile' %}"> <i class="far fa-money-bill-alt"></i> <span>Active Deposits</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:history' %}"> <i class="fas fa-search-dollar"></i> <span>Account History</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:profile' %}"> <i class="far fa-handshake"></i> <span>Referral Program</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:profile' %}"> <i class="fas fa-calculator"></i> <span>Profit Calculator</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:faq' %}"> <i class="far fa-question-circle"></i> <span>FAQ</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:support' %}"> <i class="fas fa-headset"></i> <span>Support</span> </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>

        <div id="content" class="content" style="background-image: url(../static/mememe.jfif);">
            <!-- begin breadcrumb -->
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header mb-3"><i class="far fa-money-bill-alt"></i> Active Deposits</h1>
            <!-- end page-header -->
            <!-- begin daterange-filter -->
            <!-- end daterange-filter -->
            <!-- begin row -->

            <b>Total: $0.00</b><br><br>

            <table cellspacing=1 cellpadding=2 border=0 width=100% class=line>
                <tr>
                    <td class=item>
                        <div class="row">

                            <div class="col-xl-12">
                                <!-- begin panel -->
                                <div class="panel panel-inverse">

                                    <!-- begin panel-heading -->

                                    <!-- end panel-heading -->
                                    <!-- begin alert -->
                                    <!-- end alert -->
                                    <!-- begin panel-body -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">500% after 24 hours - $100 to earn $500</h4>
                                        <div class="panel-heading-btn">
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- end panel-body -->
                            </div>




                            <!-- end panel -->
                        </div>
                        <div class="panel-body p-0">
                            <table id="table-responsive" class="table-hover table table-bordere table-td-valign-middle">
                                <thead>

                                    <tr>

                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-nowrap">Plan</th>
                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-nowrap">Deposit Amount</th>

                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-center"> Profit (%)</th>
                                    </tr>
                                </thead>


                                <tr>
                                    <td class=item>Plan 1</td>
                                    <td class=item align=left>$100.00 - $10000.00</td>
                                    <td class=item align=center>500.00</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="panel-body p-0">
                            <table id="table-responsive" class="table-hover table table-bordere table-td-valign-middle">
                                <tbody>
                                    <tr>
                                        <td>No Active Deposits for this plan</td>
                                        <tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </td>
                    </tr>
            </table>
            <br>
            <table cellspacing=1 cellpadding=2 border=0 width=100% class=line>
                <tr>
                    <td class=item>
                        <div class="row">

                            <div class="col-xl-12">
                                <!-- begin panel -->
                                <div class="panel panel-inverse">

                                    <!-- begin panel-heading -->

                                    <!-- end panel-heading -->
                                    <!-- begin alert -->
                                    <!-- end alert -->
                                    <!-- begin panel-body -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">1000% after 24 hours - $500 to earn $5000</h4>
                                        <div class="panel-heading-btn">
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- end panel-body -->
                            </div>




                            <!-- end panel -->
                        </div>
                        <div class="panel-body p-0">
                            <table id="table-responsive" class="table-hover table table-bordere table-td-valign-middle">
                                <thead>

                                    <tr>

                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-nowrap">Plan</th>
                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-nowrap">Deposit Amount</th>

                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-center"> Profit (%)</th>
                                    </tr>
                                </thead>


                                <tr>
                                    <td class=item>Plan 2</td>
                                    <td class=item align=left>$500.00 - $100000.00</td>
                                    <td class=item align=center>1000.00</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="panel-body p-0">
                            <table id="table-responsive" class="table-hover table table-bordere table-td-valign-middle">
                                <tbody>
                                    <tr>
                                        <td>No Active Deposits for this plan</td>
                                        <tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </td>
                    </tr>
            </table>
            <br>
            <table cellspacing=1 cellpadding=2 border=0 width=100% class=line>
                <tr>
                    <td class=item>
                        <div class="row">

                            <div class="col-xl-12">
                                <!-- begin panel -->
                                <div class="panel panel-inverse">

                                    <!-- begin panel-heading -->

                                    <!-- end panel-heading -->
                                    <!-- begin alert -->
                                    <!-- end alert -->
                                    <!-- begin panel-body -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">1500% after 24 hours</h4>
                                        <div class="panel-heading-btn">
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- end panel-body -->
                            </div>




                            <!-- end panel -->
                        </div>
                        <div class="panel-body p-0">
                            <table id="table-responsive" class="table-hover table table-bordere table-td-valign-middle">
                                <thead>

                                    <tr>

                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-nowrap">Plan</th>
                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-nowrap">Deposit Amount</th>

                                        <th style="background-color: rgba(255,255,255,0.1);" class="text-center"> Profit (%)</th>
                                    </tr>
                                </thead>


                                <tr>
                                    <td class=item>Plan 3</td>
                                    <td class=item align=left>$1000.00 - $100000.00</td>
                                    <td class=item align=center>1500.00</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="panel-body p-0">
                            <table id="table-responsive" class="table-hover table table-bordere table-td-valign-middle">
                                <tbody>
                                    <tr>
                                        <td>No Active Deposits for this plan</td>
                                        <tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                    </td>
                    </tr>
            </table>
            <br>



            <!-- DEL -->

            <!-- DEL -->
            <!-- DEL -->

            <!-- DEL -->


        </div>



    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
    <!-- end #content -->
    <!-- begin theme-panel -->
    <!-- end theme-panel -->
    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-teal btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'app.min2.js' %}"></script>
    <script src="{% static 'transparent.min2.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'd3.min.js' %}"></script>
    <script src="{% static 'nv.d3.min.js' %}"></script>
    <script src="{% static 'jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'jquery-jvectormap-world-mill.js' %}"></script>
    <script src="{% static 'apexcharts.min.js' %}"></script>
    <script src="{% static 'moment.min.js' %}"></script>
    <script src="{% static 'daterangepicker.js' %}"></script>
    <script src="{% static 'dashboard-v3.js' %}"></script>
    <script src="{% static 'jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'buttons.colVis.min.js' %}"></script>
    <script src="{% static 'buttons.flash.min.js' %}"></script>
    <script src="{% static 'buttons.html5.min.js' %}"></script>
    <script src="{% static 'buttons.print.min.js' %}"></script>
    <script src="{% static 'pdfmake.min.js' %}"></script>
    <script src="{% static 'vfs_fonts.js' %}"></script>
    <script src="{% static 'jszip.min.js' %}"></script>
    <script src="{% static 'table-manage-buttons.demo.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
</body>

</html>