{% load static %}
<script src="//code.tidio.co/ewmocfvcluaifuqzjjezguqnbvju3c6g.js" async>
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Bitcointradinginc.com</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="{% static 'app.min0522.css' %}" rel="stylesheet" />
    <!----------------- www.bitcoinstart.website ----------->
    <meta name="designer" href="{% url 'main:home' %}">

    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->

    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="{% static 'jquery-jvectormap.css' %}" rel="stylesheet" />
    <link href="{% static 'nv.d3.css' %}" rel="stylesheet" />
    <link href="{% static 'daterangepicker.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{% static 'bootstrap-social.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/3233d881f8.js" crossorigin="anonymous"></script>
    <link href="{% static 'switchery.min.css' %}" rel="stylesheet" />

    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    <meta property="og:title" content="Bitcointradinginc.com.">
    <meta property="og:description" content="Advanced Asset Management">
    <meta property="og:image" content="images/facebook.jpg">
    <meta property="og:type" content="website" />

</head>

<body style="background-image: url(../static/mememe.jfif);">
    <!-- begin page-cover -->
    <div class="page-cover"></div>
    <!-- end page-cover -->
    <!-- begin #page-loader -->
    <!-- <div id="page-loader" class="fade show">
        <span class="spinner"></span>
    </div> -->
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar-default">
            <!-- begin navbar-header -->
            <div class="navbar-header">
                <a href="?a=home" class="navbar-brand"><img src="{% static 'log002.png' %}"> </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end navbar-header -->
            <!-- begin header-nav -->
            <ul class="navbar-nav navbar-right">
                <li class="navbar-form">
                    <form action="" method="POST" name="search_form"><input type="hidden" name="form_id" value="16491938194090"><input type="hidden" name="form_token" value="8a7edd56deb60b39359dd57314a84db7"><input type="hidden" name="form_id" value="16082437449329"><input type="hidden" name="form_token"
                            value="388714aa74bd9a5b6aad5065ee56187e">
                        <div class="form-group">
                            <div class="badge badge-dark" style="margin-top: 2px; margin-bottom: auto; padding: 10px; font-size: 0.7rem" id="clockbox"></div>

                            <script type="text/javascript">
                                var tmonth = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

                                function GetClock() {
                                    var tzOffset = +0; //set this to the number of hours offset from UTC

                                    var d = new Date();
                                    var dx = d.toGMTString();
                                    dx = dx.substr(0, dx.length - 3);
                                    d.setTime(Date.parse(dx))
                                    d.setHours(d.getHours() + tzOffset);
                                    var nmonth = d.getMonth(),
                                        ndate = d.getDate(),
                                        nyear = d.getFullYear();

                                    var nhour = d.getHours(),
                                        nmin = d.getMinutes(),
                                        nsec = d.getSeconds(),
                                        ap;

                                    if (nhour == 0) {
                                        ap = " AM";
                                        nhour = 12;
                                    } else if (nhour < 12) {
                                        ap = " AM";
                                    } else if (nhour == 12) {
                                        ap = " PM";
                                    } else if (nhour > 12) {
                                        ap = " PM";
                                        nhour -= 12;
                                    }

                                    if (nmin <= 9) nmin = "0" + nmin;
                                    if (nsec <= 9) nsec = "0" + nsec;

                                    var clocktext = "" + tmonth[nmonth] + "-" + ndate + "-" + nyear + ", " + nhour + ":" + nmin + ":" + nsec + ap + "";
                                    document.getElementById('clockbox').innerHTML = clocktext;
                                }

                                GetClock();
                                setInterval(GetClock, 1000);
                            </script>


                        </div>
                    </form>
                </li>
                <li class="dropdown navbar-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="{% static 'myuser.jpg' %}" alt="" /> <span class="d-none d-md-inline">{{ user }} </span> <b class="caret"></b> </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="?a=edit_account" class="dropdown-item"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit Account</a>
                        <a href="?a=security" class="dropdown-item"><i class="fa fa-shield-alt"></i>&nbsp;&nbsp;2F Authentication</a>
                        <a href="?a=logout" class="dropdown-item"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a>
                    </div>
                </li>
            </ul>
            <!-- end header navigation right -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->

                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navigation</li>
                    <li>
                        <a href="{% url 'main:profile' %}"> <i class="fa fa-th-large"></i> <span>Dashboard</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:deposit' %}"> <i class="fas fa-donate"></i> <span>Make a Deposit</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:withdraw' %}"> <i class="fas fa-hand-holding-usd"></i> <span>Withdrawal</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:active' %}"> <i class="far fa-money-bill-alt"></i> <span>Active Deposits</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:history' %}"> <i class="fas fa-search-dollar"></i> <span>Account History</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:profile' %}"> <i class="far fa-handshake"></i> <span>Referral Program</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:profile' %}"> <i class="fas fa-calculator"></i> <span>Profit Calculator</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:faq' %}"> <i class="far fa-question-circle"></i> <span>FAQ</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'main:support' %}"> <i class="fas fa-headset"></i> <span>Support</span> </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>




        <script language=javascript>
            function IsNumeric(sText) {
                var ValidChars = "0123456789.";
                var IsNumber = true;
                var Char;
                if (sText == '') return false;
                for (i = 0; i < sText.length && IsNumber == true; i++) {
                    Char = sText.charAt(i);
                    if (ValidChars.indexOf(Char) == -1) {
                        IsNumber = false;
                    }
                }
                return IsNumber;
            }

            function checkform() {
                if (document.editform.fullname.value == '') {
                    alert("Please type your full name!");
                    document.editform.fullname.focus();
                    return false;
                }


                if (document.editform.password.value != document.editform.password2.value) {
                    alert("Please check your password!");
                    document.editform.fullname.focus();
                    return false;
                }




                if (document.editform.email.value == '') {
                    alert("Please enter your e-mail address!");
                    document.editform.email.focus();
                    return false;
                }



                for (i in document.editform.elements) {
                    f = document.editform.elements[i];
                    if (f.name && f.name.match(/^pay_account/)) {
                        if (f.value == '') continue;
                        var notice = f.getAttribute('data-validate-notice');
                        var invalid = 0;
                        if (f.getAttribute('data-validate') == 'regexp') {
                            var re = new RegExp(f.getAttribute('data-validate-regexp'));
                            if (!f.value.match(re)) {
                                invalid = 1;
                            }
                        } else if (f.getAttribute('data-validate') == 'email') {
                            var re = /^[^\@]+\@[^\@]+\.\w{2,4}$/;
                            if (!f.value.match(re)) {
                                invalid = 1;
                            }
                        }
                        if (invalid) {
                            alert('Invalid account format. Expected ' + notice);
                            f.focus();
                            return false;
                        }
                    }
                }

                return true;
            }
        </script>


        <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
                <div class="profile-header bg-black">
                    <!-- BEGIN profile-header-cover -->
                    <div class="profile-header-cover"></div>
                    <!-- END profile-header-cover -->
                    <!-- BEGIN profile-header-content -->
                    <div class="profile-header-content">
                        <!-- BEGIN profile-header-img -->
                        <div class="profile-header-img">
                            <img src="{% static 'myuser.jpg' %}" alt="">
                        </div>
                        <!-- END profile-header-img -->
                        <!-- BEGIN profile-header-info -->
                        <div class="profile-header-info">
                            <h4 class="mt-0 mb-1">{{ user }}</h4>
                            <p class="mb-2">{{ user }}</p>
                        </div>
                        <!-- END profile-header-info -->
                    </div>
                    <!-- END profile-header-content -->
                    <!-- BEGIN profile-header-tab -->
                    <ul class="pb-5 profile-header-tab nav nav-tabs">
                    </ul>
                    <!-- END profile-header-tab -->
                </div>
            </div>
            <!-- end profile -->
            <form action="" method=post onsubmit="return checkform()" name=editform><input type="hidden" name="form_id" value="16491938194090"><input type="hidden" name="form_token" value="8a7edd56deb60b39359dd57314a84db7">
                <input type=hidden name=a value=edit_account>
                <input type=hidden name=action value=edit_account>
                <input type=hidden name=say value="">

                <!-- begin profile-content -->
                <div class="profile-content p-2">
                    <!-- begin tab-content -->
                    <div class="tab-content p-0">
                        <!-- begin #profile-post tab -->
                        <!-- begin #profile-videos tab -->
                        <!-- begin #profile-friends tab -->
                        <div class="tab-pane fade show active" id="profile-friends">
                            <!-- begin row -->
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <!-- begin card -->
                                    <div class="card border-0 mb-3 h-100">
                                        <!-- begin card-body -->
                                        <div class="card-body">
                                            <!-- begin title -->
                                            <div class="mb-4 text-grey">
                                                <b>Personal Data</b>
                                                <span class="ml-2 "></span>
                                            </div>
                                            <!-- end title -->
                                            <!-- begin product -->
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <!--
                                                                                                  <tr>
                                                     <th class="align-middle">2 Factor Authentication</th>
                                                     <td>
                                                       <a href="?a=security" style="text-decoration: inherit;">
                                                         <input type="checkbox" data-render="switchery" data-theme="black" unchecked/>
                                                         <span class="text-muted m-l-5 m-r-5">Disabled</span>
                                                       </a>
                                                     </td>
                                                 </tr>
                                                                                                -->
                                                    <tr>
                                                        <th class="align-middle">Username:</th>
                                                        <td>
                                                            <input class="form-control" value="{{ user.username }}" readonly>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th class="align-middle">Registration Date:</th>
                                                        <td>
                                                            <input class="form-control" value="Apr-5-2022 08:53:22 AM" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="align-middle">E-Mail:</th>
                                                        <td>
                                                            <input type=text name=email value='{{ user.email }}' class="form-control"> </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="align-middle">Full Name:</th>
                                                        <td>
                                                            <input class="form-control" name="{{ user.full_name }}" value="mimi">
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <th class="align-middle">Set Password:</th>
                                                        <td>
                                                            <input type="password" name="password" value="" class="form-control" placeholder="********">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="align-middle">Confirm Password:</th>
                                                        <td>
                                                            <input type="password" name="password2" value="" class="form-control" placeholder="********">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- begin col-4 -->
                                <div class="col-xl-6 col-lg-6">
                                    <!-- begin card -->
                                    <div class="card border-0 mb-3 pb-0 h-100">
                                        <!-- begin card-body -->
                                        <div class="card-body">
                                            <!-- begin title -->
                                            <div class="mb-4 text-grey">
                                                <b>Payment Accounts</b>
                                                <span class="ml-2 "></span>
                                            </div>
                                            <!-- end title -->
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tr>
                                                        <th class="align-middle">Bitcoin</th>
                                                        <td><input type=text class="form-control form-control-sm" name="pay_account[1000][Address]" value="" placeholder="Bitcoin"></td>
                                                    </tr>



                                                </table>
                                            </div>

                                            <!-- begin product -->
                                            <!-- end product -->
                                            <!-- begin product -->
                                            <!-- end product -->
                                            <!-- begin product -->
                                            <!-- end product -->
                                            <!-- begin product -->
                                            <!-- end product -->
                                            <!-- begin product -->
                                            <!-- end product -->
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->
                                </div>


                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-center pt-1">
                                    <!-- begin card -->
                                    <div class="card border-0 mb-3 pb-0">
                                        <!-- begin card-body -->
                                        <div class="card-body">
                                            <!-- begin title -->
                                            <button type="submit" class="btn btn-lg btn-teal">
                                             Save Changes
</button>

                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col-4 -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end #profile-friends tab -->
                    </div>
                    <!-- end tab-content -->
                </div>
            </form>
            <!-- end profile-content -->
        </div>
        <!-- end #content -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'app.min2.js' %}"></script>
    <script src="{% static 'transparent.min2.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="{% static 'jquery.superbox.min.js' %}"></script>
    <script src="{% static 'lity.min.js' %}"></script>
    <script src="{% static 'profile.demo.js' %}"></script>
    <script src="{% static 'switchery.min.js' %}"></script>
    <script src="{% static 'powerange.min.js' %}"></script>
    <script src="{% static 'form-slider-switcher.demo.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
</body>

</html>